/*body {*/
/*  padding: 50px;*/
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
/*  color: #00B7FF;*/
/*}*/

#navbarSupportedContent {
  justify-content: flex-end;
}

.list-group-item {
  text-align: center;
  border: none;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-13 {
  margin-left: 13px;
}

.mr-5px {
  margin-right: 5px;
}

.card {
  border-top: none;
  border-left: none;
  border-right: none;
}

.black {
  color: black;
}

.gray {
  color: gray;
}

a:hover {
  color: black;
}

.profileList {
  width: 25px;
  height: 25px;
}

.videoList {
  width: 150px;
  height: 100px;
}

.topicList {
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
}

#navLeft {
  position: fixed;

  top: 86px;
}

@media only screen and (min-width: 992px) {
  #navLeft {
    margin-left: 15px;
  }
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

span.active {
  padding: 3px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.hoverNoEffect:hover{
  text-decoration: none;
}

.fr {
  float: right;
}

.clRed {
  color: red;
}

.ai-center {
  align-items: center;
}

.hidden {
  display: none!important;
}

.fr {
  float: right;
}

.blackrgba {
  color: rgba(0,0,0,.9);
}

.pt-150 {
  padding-top: 150px;
}

.mr-neg5 {
  margin-right: -5px;
}

.videoDetail {
  width: 100%;
}

.mb-5px {
  margin-bottom: 5px;
}

.pd-10 {
  padding: 10px;
}

.w-400px {
  width: 400px;
}

.pl-20 {
  padding-left: 20px;
}

#space {
  height: 150px;
}

.liked {
  background-color: #007bff!important;
  color: white!important;
}