/*body {*/
/*  padding: 50px;*/
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
/*  color: #00B7FF;*/
/*}*/

#navbarSupportedContent {
  justify-content: flex-end;
}

.list-group-item {
  text-align: center;
  border: none;
}

.mt-10 {
  margin-top: 10px;
}

.card {
  border-top: none;
  border-left: none;
  border-right: none;
}